.navbar-brand >img{
    width: 50px;
    height: 50px;
}

#nav {
    background: transparent !important;
   
}

.homekay{
    width: 500px;
    height: 500px;
    
    

}
body{
    background: rgb(7,240,255);
    background: linear-gradient(330deg, rgba(7,240,255,1) 0%, rgba(213,24,92,1) 100%);
    height: 100vh;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    
    
}
.social-icons i{
    font-size: 50px;
}
.myname{
    margin-left: 10px;
    font-family: 'Kranky';font-size: 50px;
    color: yellow;
}
.nav-item a:hover{
    border-bottom: solid 2px whitesmoke;
    

}
.nav-item a{
    transition: 1s;
}

img{
    width: 310px;
    height: 310px;
    border-radius: 10%;
    object-fit: cover;
}
.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.front, .back{
    width: 310px;
    height:310px;
    box-shadow: 10px 10px 4px 2px rgb(240, 44, 247, 0.30);
    border-radius: 2rem;
    position:absolute;
    color:rgb(0, 0, 0);
    background: rgb(7,240,255);
    background: linear-gradient(330deg, rgba(7,240,255,1) 0%, rgba(213,24,92,1) 100%);
    backface-visibility: hidden;
    
}
.card{
    position: relative;
    transition: transform 1s;
    height: 310px;
    width: 310px;
    transform-style: preserve-3d;
    border-radius: 10%;
    
    
}
.container article:hover > .card{
    transform: rotateY(180deg) rotateZ(180deg);
    cursor: pointer;
}
.back{
    transform: rotateY(180deg) rotateZ(180deg);
}
.container article{
    perspective: 1000px;
}
.boutme{
    font-family: 'Kranky';font-size: 50px;
    text-align: center;
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}
.back{
    text-align: center;
}
.container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.cardz{
    color: yellow;
}