.navbar-brand >img{
    width: 50px;
    height: 50px;
}

#nav {
    background: transparent !important;
   
}

.homekay{
    width: 500px;
    height: 500px;
    
    

}
body{
    background: rgb(7,240,255);
    background: linear-gradient(330deg, rgba(7,240,255,1) 0%, rgba(213,24,92,1) 100%);
    height: 100vh;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    
    
}
.social-icons i{
    font-size: 50px;
}
.myname{
    margin-left: 10px;
    font-family: 'Kranky';font-size: 50px;
    color: yellow;
}
.nav-item a:hover{
    border-bottom: solid 2px whitesmoke;
    
    

}
.nav-item a{
    transition: 1s;
}

/*card animation*/
.img1{
    width: 310px;
    height: 310px;
    border-radius: 10%;
    object-fit: cover;
}
.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.front, .back{
    width: 310px;
    height:310px;
    box-shadow: 10px 10px 4px 2px rgb(240, 44, 247, 0.30);
    border-radius: 2rem;
    position:absolute;
    color:rgb(0, 0, 0);
    background: rgb(213,24,92);
    background: linear-gradient(330deg, rgba(213,24,92,1) 0%, rgba(7,240,255,1) 100%);
    backface-visibility: hidden;
    
}
.card{
    position: relative;
    transition: transform 1s;
    height: 310px;
    width: 310px;
    transform-style: preserve-3d;
    border-radius: 10%;
    border: black solid 2px;
    
    
}
.container article:hover > .card{
    transform: rotateY(-180deg) rotateZ(-180deg);
    cursor: pointer;
}
.back{
    transform: rotateY(-180deg) rotateZ(-180deg);
}
.container article{
    perspective: 1000px;
}

/*the info on about*/
.infoboutme{
    font-family: 'Kranky';font-size: 50px;
    text-align: center;
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: yellow;
}
.back{
    text-align: center;
}
.container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.cardz{
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: yellow;
}
.initials{
    display: flex;

}
.developer{
    color: black;
}
.myname {
    display: inline-block;
    font-family: 'Kranky';
    font-size: 50px;
  }

  /*typing animation*/
  .kh, .developer {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 5s steps(40, end) forwards, blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    0%, 100% { border-color: transparent }
    50% { border-color: orange; }
  }

  /*tada animation*/
  .animate_animated {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .navbar-brand:not(:has(img)){
    color: yellow;
  }
  
  .eduedu{
    font-family: 'Kranky';font-size: 50px;
    text-align: center;
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: yellow;
  }
  
  /*dropdown*/
  .edudetails{
    display: flex;
    justify-content: space-around;
    
  }

  /*logos*/
  .edulogos{
    display: flex;
    justify-content: space-around;
   
  }
 .logos{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100px;
    border: solid yellow 5px;
 }
 .animate_animated {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: wobble; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }
  .detailing1{
    width: 1490px; height: 69px; background: #D9D9D9; opacity: 0.2;
  
  } 
  .dropdown-menu{
    width: 280px;
    
  }
  
  .movedown, .movedown1{
    padding-top: 6rem;
  }
  /*
  #dropit{
    display: none;
  }
  #dropit:hover{
    display: block;
  }
  */
  
  